@use 'carbon-components-react/index.scss';
@use '@carbon/layout/scss/generated/_spacing.scss';

:root {
  --black: #161616;
  --white: #f0f0f0;
  --blue: hsl(205, 100%, 45%);
  --green: hsl(150, 86%, 44%);
  --red: hsl(360, 100%, 45%);
  --yellow: hsl(47, 88%, 53%);
}

html, body, #app {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  padding-top: spacing.$spacing-09;
}

.content {
  position: relative;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;

  .content__loading {
    width: auto;
  }

  .content__svg {
    width: 100%;
    height: 100%;
    user-select: none;
  }

  .legend {
    position: absolute;
    left: 1rem;
    bottom: 1rem;

    li {
      display: flex;
      align-items: center;
      margin-top: 0.25rem;

      svg {
        margin-right: 0.25rem;
      }
    }
  }
}

.tile-no-data {
  min-width: 75ch;
  min-height: 25vh;
}

.tile-examples {
  min-height: 0;
  padding-top: 0;
}

/* overrides */

.cds--header__name svg {
  margin-right: 0.5rem;
}

.cds--actionable-notification--toast {
  flex-direction: column;
  min-width: 50%;
}